% rebase("menu.html")

<style>
	table {
		width: 400px;
		height: 400px;
		margin-left: auto;
		margin-right: auto;
	}

	td {
		width: 40px;
	}

	tr {
		height: 40px;
	}

	.prazna:hover {
		background-color: aqua;
	}

	.zgresena {
		background-color: blue;
	}

	.zadeta {
		background-color: crimson;
	}

	.potopljena {
		background-color: gray;
	}

	.ladja {
		background-color: darkslategray;
	}
</style>

<section class="section">
	<div class="columns">
		<div class="column">
			<table class="table is-bordered">
				% for x in range(10):
				<tr>
					% for y in range(10):
					% if igra.igralec1.radar[x][y] == '.':
					<td class="zgresena" style="padding: 0 0 0 0;">
						<div style="display:block;width:100%;height:100%;"></div>
					</td>
					% elif igra.igralec1.radar[x][y] == 'x':
					<td class="zadeta" style="padding: 0 0 0 0;">
						<div style="display:block;width:100%;height:100%;"></div>
					</td>
					% elif igra.igralec1.radar[x][y] == 'P':
					<td class="potopljena" style="padding: 0 0 0 0;">
						<div style="display:block;width:100%;height:100%;"></div>
					</td>
					% elif igra.Konec() and igra.igralec1.polje[x + 5][y + 5] != ' ':
					<td class="ladja" style="padding: 0 0 0 0;">
						<div style="display:block;width:100%;height:100%;"></div>
					</td>
					% elif igra.igralec1.radar[x][y] == ' ':
					<td % if not igra.Konec(): class="prazna" % end style="padding: 0 0 0 0;">
						% if not igra.Konec():
						<a style="display:block;width:100%;height:100%;" href="/igra/{{id}}?x={{x}}&y={{y}}"></a>
						% else:
						<div style="display:block;width:100%;height:100%;"></div>
						% end
					</td>
					% end
					% end
				</tr>
				% end
			</table>
			% if igra.tezavnost == 0 and not igra.Konec():
			<div class="buttons is-centered">
				% for ship in igra.igralec2.mornarica.values():
				% if ship.metoda and ship.nezadeta == ship.dolzina:
				% if ship.special() and not ship.metoda == igra.selected:
				<a class="button is-info" href="/igra/{{id}}/{{ship.metoda}}">{{ship.metoda + f" ({ship.counter}/5)"}}</a>
				% elif not ship.metoda == igra.selected:
				<a class="button is-info"href="/igra/{{id}}/{{ship.metoda}}" disabled>{{ship.metoda + f" ({ship.counter}/5)"}}</a>
				% else:
				<a class="button is-success"href="/igra/{{id}}/{{ship.metoda}}">{{ship.metoda + f" ({ship.counter}/5)"}}</a>
				% end
				% end
				% end
			</div>
			% end
		</div>
		<div class="column">
			<table class="table is-bordered">
				% for x in range(10):
				<tr>
					% for y in range(10):
					% if igra.igralec2.radar[x][y] == '.':
					<td class="zgresena" style="padding: 0 0 0 0;">
						<div style="display:block;width:100%;height:100%;"></div>
					</td>
					% elif igra.igralec2.radar[x][y] == 'x':
					<td class="zadeta" style="padding: 0 0 0 0;">
						<div style="display:block;width:100%;height:100%;"></div>
					</td>
					% elif igra.igralec2.radar[x][y] == 'P':
					<td class="potopljena" style="padding: 0 0 0 0;">
						<div style="display:block;width:100%;height:100%;"></div>
					</td>
					% elif igra.igralec2.polje[x + 5][y + 5] != ' ':
					<td class="ladja" style="padding: 0 0 0 0;">
						<div style="display:block;width:100%;height:100%;"></div>
					</td>
					% elif igra.igralec2.radar[x][y] == ' ':
					<td style="padding: 0 0 0 0;">
						<div style="display:block;width:100%;height:100%;"></div>
					</td>
					% end
					% end
				</tr>
				% end
			</table>
		</div>
	</div>
	% if igra.Konec():
	<div class="container" style="width: 350px; max-width: 90%;">
		<h1 class="title has-text-light has-text-centered">Konec igre!</h1>
		% if igra.Konec() == 1:
		<h2 class="subtitle has-text-light has-text-centered">Čestitke!</h2>
		% elif igra.Konec() == 2:
		<h2 class="subtitle has-text-light has-text-centered">Neodločeno!</h2>
		% else:
		<h2 class="subtitle has-text-light has-text-centered">Več sreče prihodnjič!</h2>
		% end
	</div>
	% end
</section>