% rebase("menu.html")

<style>
    .table {
      margin-left: auto;
      margin-right: auto;
    }
</style>

<section class="section">
	<div class="columns">
		<div class="column">
			<h1 class="title has-text-centered has-text-light">Način Plus</h1>
			<table class="table has-background-black-ter is-centered">
				<thead>
					<tr>
						<th class="has-text-light" style="text-align:center"><abbr title="Uvrstitev">Uvr</abbr></th>
						<th class="has-text-light">Uporabnik</th>
						<th class="has-text-light"><abbr title="Zmage">W</abbr></th>
						<th class="has-text-light"><abbr title="Neodločeni izidi">D</abbr></th>
						<th class="has-text-light"><abbr title="Porazi">L</abbr></th>
						<th class="has-text-light" style="text-align:center"><abbr title="Delež zmag">%</abbr></th>
					</tr>
				</thead>
				<tbody>
					% stats = statistika.copy()
					% stats.pop("min_moves")
					% for j, x in enumerate(sorted(stats, key=lambda p: (-stats[p]["0"][0],-stats[p]["0"][1],stats[p]["0"][2]))):
					% username = x[6:]
					% if j < 10 and stats[x]["0"][0] > 0:
					<tr>
						<td class="has-text-light" style="text-align:right">{{j + 1}}.</td>
						% if len(username) < 16:
						<td class="has-text-light">{{username}}</td>
						% else:
						<td class="has-text-light"><abbr title={{username}}>{{username[:12] + "..."}}</abbr></td>
						% end
						<td class="has-text-light" style="text-align:right">{{stats[x]["0"][0]}}</td>
						<td class="has-text-light" style="text-align:right">{{stats[x]["0"][1]}}</td>
						<td class="has-text-light" style="text-align:right">{{stats[x]["0"][2]}}</td>
						<td class="has-text-light" style="text-align:right">{{str(round(100 * stats[x]["0"][0] / sum(stats[x]["0"][i] for i in range(3)), 2)) + " %" if sum(stats[x]["0"][i] for i in range(3)) else "NaN"}}</td>
					</tr>
					% end
					% end
				</tbody>
			</table>
		</div>
	</div>
</section>

<section class="section has-text-centered">
	<h1 class="title has-text-centered has-text-light">Najkrajše igre:</h1>
	<table class="table has-background-black-ter is-centered">
		<thead>
			<tr>
				<th class="has-text-light" style="text-align:center"><abbr title="Uvrstitev">Uvr</abbr></th>
				<th class="has-text-light">Uporabnik</th>
				<th class="has-text-light">Število potez</th>
			</tr>
		</thead>
		<tbody>
			% for i, (x, poteze) in enumerate(statistika["min_moves"]["0"]):
			% if i < 10:
			<tr>
				<td class="has-text-light" style="text-align:right">{{i + 1}}.</td>
				% if len(x) < 16:
				<td class="has-text-light">{{x}}</td>
				% else:
				<td class="has-text-light"><abbr title={{x}}>{{x[:12] + "..."}}</abbr></td>
				% end
				<td class="has-text-light" style="text-align:center">{{poteze}}</td>
			</tr>
			% end
			% end
		</tbody>
	</table>
</section>