% rebase("menu.html")

<style>
	.table {
		margin-left: auto;
		margin-right: auto;
	}
</style>

<section class="section">
	<div class="columns">
		% for i in range(1, 4):
		<div class="column">
			<h1 class="title has-text-centered has-text-light">Težavnost {{i}}</h1>
			<table class="table has-background-dark is-centered">
				<thead>
					<tr>
						<th class="has-text-light"><abbr title="Uvrstitev">Uvr</abbr></th>
						<th class="has-text-light">Uporabnik</th>
						<th class="has-text-light">Zmage</th>
						<th class="has-text-light">Porazi</th>
						<th class="has-text-light"><abbr title="Delež zmag">%</abbr></th>
					</tr>
				</thead>
				<tbody>
					% for j, x in enumerate(sorted(statistika, key=lambda x:
					(-statistika[x][str(i)][0],statistika[x][str(i)][1]))):
					<tr>
						<td class="has-text-light">{{j + 1}}.</td>
						<td class="has-text-light">{{x}}</td>
						<td class="has-text-light">{{statistika[x][str(i)][0]}}</td>
						<td class="has-text-light">{{statistika[x][str(i)][1]}}</td>
						<td class="has-text-light">{{str(round(100 * statistika[x][str(i)][0] /
							(statistika[x][str(i)][0] + statistika[x][str(i)][1]), 2)) + " %" if
							(statistika[x][str(i)][0] + statistika[x][str(i)][1]) else "NaN"}}</td>
					</tr>
				</tbody>
				% end
			</table>
		</div>
		% end
	</div>
</section>