% rebase("menu.html")

<section class="section">
	<div class="container" style="width: 350px; max-width: 90%;">
		<form method="POST">
		<h1 class="title has-text-light has-text-centered">Nastavitve igre</h1>
		<div class="control is-expanded">
		    <div class="field">
				<label class="label has-text-light">Težavnost</label>
				<div class="select is-fullwidth">
					<select name="tezavnost">
						<option>1</option>
						<option>2</option>
						<option>3</option>
					</select>
				</div>
			</div>
			<div class="field">
				<div class="buttons has-addons is-centered">
					<button class="button is-link">Naprej</button>
				</div>
			</div>
		</div>
		</form>
		
	</div>
</section>