% rebase("menu.html")

<section class="section">
  <div class="container">
    <h1 class="title has-text-light">Pravila igre</h1>
    <div style="float:right;width:35%;margin-left: 20px;">
      <img src="/img/Pravila1.jpg">
      <img src="/img/Pravila2.jpg">
      <img src="/img/Pravila3.jpg">
      <img src="/img/Pravila4.jpg">
    </div>
    <h2 class="subtitle has-text-light mt-5">Klasični način</h2>
    <p class="has-text-light mt-5" style="text-align: justify;">
      Potapljanje ladjic je igra, katere cilj je zelo preprost – potopiti vse
      nasprotnikove ladje, preden to uspe nasprotniku. Igra se na pravokotni
      mreži velikosti 10×10. Najprej računalnik ustvari dve igralni plošči in
      na vsako naključno postavi 5 ladjic – letalonosilko velikosti 5×1,
      bojno ladjo velikosti 4×1, križarko in podmornico velikosti 3×1 ter
      fregato velikosti 2×1. Pri tem se ladje ne smejo prekrivati, lahko pa
      se dotikajo.
    </p>
    <p class="has-text-light mt-5" style="text-align: justify;">
      Na tej točki bo igra izgledala približno tako, kot je prikazano na
      prvi sliki. Na desni strani je prikazana igralčeva plošča z
      njegovimi ladjami, na levi pa prazna nasprotnikova plošča. S klikom
      na poljubno celico na levi plošči lahko igralec izvede strel, nato
      pa mu računalnik razkrije, če je zadel kakšno ladjo.
    </p>
    <p class="has-text-light mt-5" style="text-align: justify;">
      Na drugi sliki je prikazano stanje igre po prvi potezi. Na desni
      strani se je eno izmed polj obarvalo
      <b style="color: blue;">modro</b>.
      To pomeni, da je računalnik v svoji potezi streljal na to polje,
      barva pa nam pove, da je zgrešil. Na drugi strani pa se je polje,
      na katerega smo kliknili, obarvalo
      <b style="color: crimson;">rdeče</b>.
      To pomeni, da smo zadeli eno izmed nasprotnikovih ladij! Naš
      naslednji cilj je, da to ladjo potopimo, zato poskusimo streljati
      v okolico tega polja.
    </p>
    <p class="has-text-light mt-5" style="text-align: justify;">
      Z malo sreče smo hitro uspeli potopiti nasprotnikovo ladjo, kar nam
      pove
      <b style="color: gray;">siva</b> barva. Medtem je tudi nasprotnik
      ugotovil, kje se nahaja ena izmed naših ladjic. Zdaj ne preostane
      drugega, kot da poskusimo z naslednjimi potezami prehiteti
      računalnik.
    </p>
    <p class="has-text-light mt-5" style="text-align: justify;">
      Po zaključeni igri se nam pod tabelama izpiše napis z rezultatom.
      Rezultat se prav tako zabeleži na strani vašega profila, kjer lahko
      tudi dostopate do iger, ki ste jih že začeli, a še niste končali.
      Igralci z največjim številom zmag ali pa najmanjšim številom potez
      se boste lahko našli tudi na posebni strani "Lestvice".
    </p>
    <p class="has-text-light mt-5" style="text-align: justify;">
      Zdaj ni več izgovorov – registrirajte se, izberite težavnost in
      začnite igrati! Morda se prav vi znajdete na vrhu igralne lestvice.
    </p>
  </div>
</section>