% rebase("menu.html")

<section class="section">
	<div class="container" style="width: 350px; max-width: 90%;">
		<form method="POST">
		<h1 class="title has-text-light has-text-centered">Registracija</h1>
		<div class="control">
		    <div class="field">
				<div class="control has-icons-left has-icons-right">
				  <input class="input" type="text" placeholder="Uporabniško ime" name="username" 
					% if defined('uname'):
				  		value="{{ uname }}"
					% end
					>
				  <span class="icon is-small is-left">
					<i class="fas fa-user"></i>
				  </span>
				  % if defined('napaka') and (napaka == "Vnesi uporabniško ime!" or napaka == "To uporabniško ime je že zasedeno!"):
				  <span class="icon is-small is-right has-text-danger">
					<i class="fas fa-exclamation-triangle"></i>
				  </span>
				  % end
				</div>
			  </div>
			  <div class="field">
				  <p class="control has-icons-left has-icons-right">
					<input class="input" type="password" placeholder="Geslo" name="geslo1">
					<span class="icon is-left">
					  <i class="fas fa-lock"></i>
					</span>
					% if defined('napaka') and (napaka == "Vnesi geslo!" or napaka == "Gesli se ne ujemata!"):
					<span class="icon is-small is-right has-text-danger">
					  <i class="fas fa-exclamation-triangle"></i>
					</span>
					% end
				  </p>
			  </div>
			  <div class="field">
				  <p class="control has-icons-left has-icons-right">
					<input class="input" type="password" placeholder="Potrditev gesla" name="geslo2">
					<span class="icon is-left">
					  <i class="fas fa-lock"></i>
					</span>
					% if defined('napaka') and napaka == "Gesli se ne ujemata!":
					<span class="icon is-small is-right has-text-danger">
					  <i class="fas fa-exclamation-triangle"></i>
					</span>
					% end
				  </p>
			  % if defined('napaka'):
			  <p class="help is-danger">{{ napaka }}</p>
			  % end
			</div>
			<div class="field mb-6">
				<div class="buttons has-addons is-centered">
					<button class="button is-link">Registracija</button>
				</div>
			</div>
		</div>
		<div class="field">
			<p class="label has-text-light has-text-centered">Že imate uporabniški račun?</p>
			<div class="buttons has-addons is-centered">
				<a class="button is-link" href="/prijava">Prijava</a>
			</div>
		  </div>
		</form>
	</div>
</section>